<div class="booking--calendar-page" data-ng-controller="CalendarController">
  <div class="booking--selection">
    <div class="booking--selection-date-time-wrapper">
      <div class="booking--selection-date-picker">
        <div class="booking--selection-header-date" data-ng-class="{'is-active': pickDate, 'is-inactive' : pickResource || pickTime}" data-ng-click="toggleDate()">1. {{ t('Date') }}</div>
        <div class="booking--selection-display-date">
          <span class="booking--display-date-arrow-left" data-ng-click="prevDate()">
            <span class="booking--arrow is-left" data-ng-include="themePath + '/templates/svgs/arrow.svg'"></span>
          </span>
          <span class="booking--selection-text" data-ng-click="toggleDate()">{{ getSelectedDate() | date: 'd/M-yy' }}</span>
          <span class="booking--display-date-arrow-right" data-ng-click="nextDate()">
            <span class="booking--arrow is-right" data-ng-include="themePath + '/templates/svgs/arrow.svg'"></span>
          </span>
        </div>
        <div class="booking--popup-calendar" data-ng-cloak data-ng-if="pickDate">
          <div class="booking--popup-inner">
            <div data-ng-model="selected.date" date-picker="" close-function="toggleDate()" number-of-months="9" class="booking--popup-calendar-wrapper"></div>
          </div>
        </div>
      </div>
      <div class="booking--selection-time-picker">
        <div class="booking--selection-header-time" data-ng-class="{'is-active': pickTime, 'is-inactive' : pickResource || pickDate}"  data-ng-click="toggleTime()">2. {{ t('Time') }}</div>
        <div class="booking--selection-display-time"><span data-ng-click="toggleTime()" class="booking--selection-text">{{ getSelectedStartTime() }} - {{ getSelectedEndTime() }}</span></div>
        <div class="booking--popup-time" data-ng-if="pickTime">
          <div class="booking--popup-inner">
            <div class="booking--popup-content">
              <div class="booking--popup-timepicker-wrapper">
                <itk-time-picker class="booking--popup-timepicker" time="selected.time.start" step="30"></itk-time-picker>
                <div class="booking--popup-timepicker-text">til</div>
                <itk-time-picker class="booking--popup-timepicker" time="selected.time.end" step="30"></itk-time-picker>
              </div>
              <div class="booking--popup-close" data-ng-click="toggleTime()">{{ t('Select') }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="booking--selection-resource-picker">
        <div class="booking--selection-header-resource" data-ng-class="{'is-active': pickResource, 'is-inactive' : pickTime || pickDate}" data-ng-click="toggleResource()">3. {{ t('Resources') }}</div>
        <div class="booking--selection-display-resource">
          <span class="booking--selection-text" data-ng-click="toggleResource()">{{ (resourceName = getSelectedResource()) ? resourceName : t('Select resource') }}</span>
        </div>
        <div class="booking--popup-resource" data-ng-if="pickResource">
          <div class="booking--popup-inner">
            <form class="booking--popup-content">
              <div data-ng-repeat="resource in resources track by $index" data-ng-click="setResource(resource)" class="booking--radio-select">
                <input class="booking--popup-radio-input" type="radio" name="resources-radio" value="{{resource.mail}}" id="resources-{{resource.name}}" />
                <label class="booking--popup-radio-label" for="resources-{{resource.name}}" data-ng-click="setResource(resource)">{{resource.name}}</label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-ng-if="loadingBookings">
    <div class="booking--description">{{ t('Checking if the room is available on the selected date, please wait ...')}}</div>
  </div>
  <div data-ng-if="errorGettingBookings">
    <div class="booking--message-wrapper">
      <div class="itk-message">
        <div class="itk-message--inner is-error">{{ t('Error loading availability on the selected date. You can still attempt bookings...')}}</div>
      </div>
    </div>
  </div>
  <div data-ng-if="errorGettingResources">
    <div class="booking--message-wrapper">
      <div class="itk-message">
        <div class="itk-message--inner is-error">{{ t('Error loading resources. Please reload...')}}</div>
      </div>
    </div>
  </div>
  <div data-ng-if="!validating && validBooking === false && selected.date && selected.resource">
    <div class="booking--message-wrapper">
      <div class="itk-message">
        <div class="itk-message--inner is-error">{{t('The room is not available at the selected time')}}</div>
      </div>
    </div>
    <div class="booking--description">
      {{ t('Below here you can see when the room is already booked. If you cannot find an available time slot, you can try another date or a different room.') }}
    </div>
    <div class="booking--description">
      {{ t('Select a different time or click directly on an available time slot below to change your selection.') }}
    </div>
  </div>
  <div data-ng-if="!validating && validBooking">
    <div class="booking--message-wrapper">
      <div class="itk-message">
        <div class="itk-message--inner is-info">{{ t('The room is available') }}</div>
      </div>
    </div>
    <div class="booking--description">
      {{ t('To send your booking request you must login with Nemid. When you click on the button you will be redirected to another page where you have login, then you will be directed to a new page where you can complete your booking request.') }}
    </div>
    <a data-ng-href="{{ getLink() }}" class="booking--add-submit-date">
      {{ t('Continue to login') }}
    </a>
  </div>
  <div class="booking--display" data-ng-if="showCalendar">
    <booking-calendar bookings="bookings" class="booking--display-content-wrapper" selected-date="selected.date" selected-resource="selected.resource" selected-start="selected.time.start" selected-end="selected.time.end" interest-period="interestPeriod" disabled="disabled"></booking-calendar>
  </div>
</div>