<div class="booking--display-time-column">
  <div class="booking--display-time-row" data-ng-repeat="timeInterval in timeIntervals" data-ng-if="!timeInterval.halfhour" data-ng-class="{'is-disabled': timeInterval.disabled}">
    <div class="booking--display-row-inner">
      <div class="booking--display-time"><span>{{ timeInterval.time | date:'HH:mm' }}</span></div>
    </div>
  </div>
</div>

<div class="booking--display-content-column">
  <div class="booking--display-row" data-ng-click="select(timeInterval)" data-ng-repeat="timeInterval in timeIntervals" data-ng-if="loaded" data-ng-class="{'is-disabled': timeInterval.disabled, 'is-selected': !timeInterval.disabled && selected(timeInterval)}">
    <div class="booking--display-row-inner" data-ng-class="{
          'is-selected': !timeInterval.disabled && selected(timeInterval),
          'is-selected-first': !timeInterval.disabled && selected(timeInterval) === 'first',
          'is-selected-last': !timeInterval.disabled && selected(timeInterval) === 'last',
          'is-selected-middle': !timeInterval.disabled && selected(timeInterval) === 'middle',
          'is-free': !timeInterval.disabled && !timeInterval.booked && !selected(timeInterval),
          'is-booked': !timeInterval.disabled && timeInterval.booked
         }">
      <div class="booking--display-description" data-ng-if="!timeInterval.disabled">{{ selected(timeInterval) === 'first' ? t('Your selection') : t(timeInterval.text) }}</div>
    </div>
  </div>
</div>