<div data-ng-controller="CalendarController">
  <div data-ng-click="toggleDate()">{{ t('Date') }}</div>
  <div data-ng-click="toggleTime()">{{ t('Time') }}</div>
  <div data-ng-click="toggleDate()" >{{ getSelectedDate() | date }}</div>
  <div data-ng-click="toggleTime()">{{ getSelectedStartTime() | date: 'HH:mm' }} - {{ getSelectedEndTime() | date: 'HH:mm' }}</div>

  <!-- Datepicker -->
  <div data-ng-model="selected.date" date-picker="" number-of-months="9" show-week-number="true" data-ng-if="pickDate"></div>

  <!-- Timepickers -->
  <div data-ng-if="pickTime">
    <timepicker data-ng-model="selected.time.start" hour-step="1" minute-step="30" show-meridian="ismeridian"></timepicker>
    <timepicker data-ng-model="selected.time.end" hour-step="1" minute-step="30" show-meridian="ismeridian"></timepicker>
  </div>

  <div class="resources">
    <div data-ng-repeat="resource in resources" data-ng-click="setResource(resource)">{{resource.name}}</div>
  </div>

  <!-- Calendar for chosen date -->
  <booking-calendar selected-date="selected.date" selected-resource="selected.resource" selected-start="selected.time.start" selected-end="selected.time.end" interest-period="interestPeriod" disabled="disabled"></booking-calendar>
</div>