<div class="booking--popup">
  <div class="booking--popup-inner">
    <div class="booking--popup-header">
      <h2 class="booking--popup-header-text">{{ why_title_header }}</h2>
    </div>
    <div class="booking--popup-content">
      {{ why_title }}
    </div>
    <div class="booking--popup-close" data-ng-click="showTitleDescription = !showTitleDescription">{{ 'Close'|t }}</div>
  </div>
</div>
