{#
/**
 * @file
 * Theme implementation for booking calendar.
 *
 * Available variables:
 *  - title
 *  - top_img
 *  - manchet
 *  - submit_header : path
 *  - app_dir
 */
#}

<div class="page--header-container">
  {% include "@koba_booking/booking-top.html.twig" %}
</div>

<div class="page--content">
  <div class="booking--add-prefix">
    {{ manchet }}
  </div>
  <div data-ng-app="kobaApp">
    <div data-ng-include="'{{ app_dir }}/pages/calendar/calendar.html'"></div>
  </div>
</div>
