{#
/**
 * @file
 * Theme implementation for booking calendar.
 *
 * Available variables:
 *  - title
 *  - top_img
 *  - manchet
 */
#}

<div class="fields--header-image">
  <div class="fields--header-gradient"></div>
  <div class="fields--header-image">
    <div class="fields--header-gradient"></div>
    <div class="fields">
      <div class="fields--items">
        <div class="fields--item">
          {% if top_img %}
            <img src="{{ top_img }}"/>
          {% else %}
            <img src="/sites/all/themes/dokk/images/pngs/page-header-fallback.png" width="2000" height="400" alt="">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>