{#
/**
 * @file
 * Theme implementation for booking calendar.
 *
 * Available variables:
 *  - title
 *  - top_img
 *  - manchet
 *  - submit_header : path
 *  - app_dir
 *  - search_phase
 *  - search_phase_text
 */
#}

<div class="page--header-container">
  {% include "@koba_booking/booking-top.html.twig" %}
</div>

<div class="page--content">
  <div class="booking--add-prefix">
    {{ manchet }}
  </div>
  {% if search_phase and search_phase_text %}
  <div class="itk-message">
    <div class="itk-message--inner is-warning">{{ search_phase_text }}</div>
  </div>
  {% endif %}
  <div data-ng-app="kobaApp">
    <div data-ng-include="'{{ app_dir }}/pages/calendar/calendar.html'"></div>
  </div>
</div>
