<div class="booking--popup">
  <div class="booking--popup-inner">
    <div class="booking--popup-content">
      <h2 class="booking--popup-header">{{ form.variables.why_email_header }}</h2>
      {{ form.variables.why_email }}
    </div>
    <div class="booking--popup-close" data-ng-click="showEmailDescription = !showEmailDescription">{{ 'Close'|t }}</div>
  </div>
</div>