{#
/**
 * @file
 * Theme implementation for booking calendar.
 *
 * Available variables:
 *  - title
 *  - top_img
 *  - manchet
 */
#}

<img src="{{ top_img }}"/>
<h1 class="title" id="page-title">{{ title }}</h1>
<div>{{ manchet }}</div>