{#
/**
 * @file
 * Theme implementation for booking calendar.
 *
 * Available variables:
 *  - title
 *  - top_img
 *  - manchet
 *  - submit_header : path
 */
#}
aa
<div class="page--header-container">
  {% include "@koba_booking/booking-top.html.twig" %}
</div>
bb
<div data-ng-app="kobaApp">
  <div data-ng-include="'/modules/koba_booking/app/pages/calendar/calendar.html'"></div>
</div>
