<div class="booking--popup">
  <div class="booking--popup-inner">
    <div class="booking--popup-header">
      <h2 class="booking--popup-header-text">{{ why_email_header }}</h2>
    </div>
    <div class="booking--popup-content">
      {{ why_email }}
    </div>
    <div class="booking--popup-close" data-ng-click="showEmailDescription = !showEmailDescription">{{ 'Close'|t }}</div>
  </div>
</div>
