<div class="booking--popup-timepicker-inner">
  <div class="booking--popup-timepicker-inc" data-ng-click="inc()"><span class="booking--arrow is-up" data-ng-include="'/modules/koba_booking/templates/svgs/arrow-yellow.svg'"></span></div>
  <div class="booking--popup-timepicker-display">{{ getHours() }}:{{ getMinutes() }}</div>
  <div class="booking--popup-timepicker-dec" data-ng-click="dec()"><span class="booking--arrow" data-ng-include="'/modules/koba_booking/templates/svgs/arrow-yellow.svg'"></span></div>
</div>