<div class="booking--popup-timepicker-inner">
  <div class="booking--popup-timepicker-inc" data-ng-click="inc()"><span class="booking--arrow is-yellow is-up" data-ng-include="themePath + '/templates/svgs/arrow.svg'"></span></div>
  <div class="booking--popup-timepicker-display">{{ getHours() }}:{{ getMinutes() }}</div>
  <div class="booking--popup-timepicker-dec" data-ng-click="dec()"><span class="booking--arrow is-yellow" data-ng-include="themePath + '/templates/svgs/arrow.svg'"></span></div>
</div>